<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
<head>
    <meta charset="UTF-8">
    <title>CS510 Search Engine</title>
</head>
<p>Paper search</p>

<div class="wrap">
    <!--<form action="" method="post" novalidate>-->
   <div class="search">
           <form action="" method="post" novalidate style="width:100%; display:flex;">
               {{ form.hidden_tag() }}
       {{ form.query(class_="searchTerm") }}{{ form.submit(class_="searchButton") }}
           </form>
   </div>
    <!--</form>-->
</div>



<div class="searchResultsContainer">
 {% for item in results %}
    <div><hr>
        <p style="font-size:20px; color:DarkBlue"> <a target="_blank" href="{{item.url}}">{{ item.title}}</a> </p></div>
      <input type="radio" id="relevant" name="relevance{{item.title}}"  value="1" checked> <label for="relevant">Relevent</label>
    <input type="radio" id="irrelevant" name="relevance{{item.title}}" value="0" > <label for="irrelevant">Irrelevent</label>
        <table><tr><td> {{item.abstract}} + "</td></tr></table>
 {% endfor %}
</div>
<body>

</body>
</html>


<p><input type=\"radio\" id=\"rel\" name=\"" + resultData[0] + "\" value=\"rel_" + resultData[i].title + "_" + rank +"\"> <label for=\"relevant\"><font color=\"green\">Relevant</font></label>";
